/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* TYPOGRAPHY */

:root {
  font-family: "Figtree", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}

.p,
.small-print {
  font-weight: 400;
  line-height: 1.728;
}

.h1 {
  font-size: 2.986rem;
}
.h2 {
  font-size: 2.488rem;
}
.h3 {
  font-size: 2.074rem;
}
.h4 {
  font-size: 1.728rem;
}
.h5 {
  font-size: 1.44rem;
}
.h6 {
  font-size: 1.2rem;
}
.p {
  font-size: 1rem;
}
.small-print {
  font-size: 0.833rem;
}

/* CUSTOM CSS */

html,
body {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  width: 100%;
  max-width: 1280px;
  padding: 1.728rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-btns > * {
  padding: 0.4rem 1.2rem;
}

.tasks-container {
  width: 100%;
  max-width: 1280px;
  padding: 1.728rem;
  margin: 0 auto;
  scroll-padding: 1.728rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.728rem;
  align-items: flex-start;
}

.task-group {
  padding: 1rem;
  margin-bottom: 1.728rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-group[data-id="inbox"] {
  background-color: #f6f6f6;
  border-radius: 1rem;
}

.task-group__header {
  width: 100%;
  margin-bottom: 1.728rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #e6e6e6;
}

.menu-anchor {
  position: relative;
}

.task-group__menu {
  width: auto;
  position: absolute;
  top: -4px;
  right: 0;
  padding: 1rem;
  margin: 30px 0;
  list-style-type: none;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.task-group__menu.hide {
  display: none;
}

.task-group__menu .feather {
  width: 16px;
  margin-right: 0.5rem;
}

.task-group__menu li {
  cursor: pointer;
}

.task-group__menu li:first-child {
  color: #9a9a9a;
  cursor: default;
}

.task-menu__trigger {
  background: #fff;
  border: none;
}

.task-group__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.728rem;
}

.task-group__title {
  font-size: 1rem;
  color: #777;
  width: calc(100% - calc(20px + 0.833rem));
  height: 32px;
}

.task-menu__trigger .feather {
  color: #777;
}

.task-div {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.task-div[data-completed="true"] {
  background-color: #f8f8f8;
  box-shadow: none;
}

.task-div .primary {
  width: 100%;
  padding: 0.5rem 0 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* checkbox styles */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0.833rem 0 0;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

input[type="checkbox"]:hover {
  border-color: #22c55e;
}

input[type="checkbox"]:checked {
  border-color: #22c55e;
  background-color: transparent;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  border-radius: 50%;
}

.task-title {
  font-weight: 600;
}

.task-div[data-completed="true"] .task-title {
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
}

.task-div .secondary {
  width: 100%;
  padding: 0 0 0 calc(20px + 0.833rem); /* width + padding of checkbox, below */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.select-group {
  border-bottom: 1px dotted #999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.select-group .feather {
  color: #777;
  width: 14px;
  margin-right: 6px;
  transition: all 150ms ease;
}

.select-group:hover .feather {
  color: unset;
  transition: all 150ms ease;
}

select {
  appearance: none;
  color: #777;
  font-size: 16px;
  text-indent: 0;
  text-overflow: clip;
  width: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none; /* Removes the focus outline too */
  cursor: pointer;
  transition: all 150ms ease;
}

.select-group:hover select {
  color: unset;
  transition: all 150ms ease;
}

.delete-task-btn {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.delete-task-btn .feather {
  color: #777;
  width: 16px;
  transition: all 150ms ease;
}

.delete-task-btn:hover {
  background-color: hsl(350, 100%, 96%);
  transition: all 150ms ease;
}

.delete-task-btn:hover .feather {
  color: hsl(350, 56%, 40%);
  transition: all 150ms ease;
}
